@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;   
    font-family: 'Antonio', sans-serif;
}

img {
    width: 100%;
}
.portada {
    height: 30rem;
}


h1{
    color: #8C4117;
    text-align: center;
}

h2 {
    color: rgb(50, 173, 222)
}
.presentacion {
    position: relative;
    text-align: center;

    .presentacion__somos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    
        justify-content: start;
    }
 
}


.video {
    height: 13rem;
    margin-top: 10px;
}

.multimedia {
    text-align: center;
}
.lineaPie {
    margin-top: 10px;
    size: 50px;
    border-width: 3px;
    border-color: black;
   
}
.pie {
    text-align: center;
    width: 100;
 
    .pie li{
        display: inline-block;  
        padding: 10px;
    
    }
}




.iconos {
    height: 30px;
}
.logo {
    height: 7rem;
}


.aventura {
    background-color: #3da2ca;
    padding: .5rem;
    margin: 5px;
    border-radius: 0.25rem;
    border: 1px solid #3da2ca;

    .aventura {
        display: inline-block;
     
     }
}


.imagenAventura {
    height: 40px;
    padding-inline: 2rem;
}

.pin {
    height: 6.5rem;
    width: 6.5rem;
}



.uno {
    position: absolute;
    top: 0;
    right: 55%;
}

.dos{
    position: absolute;
    top: 10%;
    right: 40%;
}

.tres {
    position: absolute;
    top: 18%;
    right: 55%;
}


.galeria p {
    color: #8C4117;
}


.formulario {
    text-align: center;
}


h2 {
    text-align: center;
}

.aventuras__galeria {
    margin: 2rem;
    border: .3rem solid;
    border-color: blue;
    border-radius: 30px;

    display: flex;
    gap: 1rem;
    align-items: center;

    overflow: hidden;

    .aventuras__galeria > * {
        text-align: center;
        flex: 1;
    }
}



.calendario__grid {
    min-height: 100vh;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    grid-template-areas: 
        "ultimoatleta ultimoatleta ultimoatleta chic"
        "ultimoatleta ultimoatleta ultimoatleta malinche"
        "caballo peguis matacanes silencio";


        .calendario__grid > * {
            margin: .3rem;
            border: .3rem solid;
            border-color: blue;
            border-radius: 8px;
        }   

        .principal {
            grid-area: ultimoatleta;
            background-image: url("../img/calendario/principal.jpeg");
            background-size: cover;
            background-position: center center;
        }
        
        .enero {
            grid-area: chic; 
            background-image: url("../img/calendario/enero.jpg");
            background-size: cover;
            background-position: center center;
        }
        
        .febrero {
            grid-area: malinche; 
            background-image: url("../img/calendario/febrero.jpg");
            background-size: cover;
            
            background-position: center center;
        
        }
        
        .marzo {
            grid-area: caballo; 
            background-image: url("../img/calendario/marzo.jpg");
            background-size: cover;
            background-position: center center;
        }
        
        .abril {
            grid-area: peguis; 
            background-image: url("../img/calendario/abril.jpg");
            background-size: cover;
            background-position: center center;
        }
        
        .mayo {
            grid-area: matacanes; 
            background-image: url("../img/calendario/mayo.jpg");
            background-size: cover;
            background-position: center center;
        }
        
        .octubre {
            grid-area: silencio; 
            background-image: url("../img/calendario/octubre.jpg");
            background-size: cover;
            background-position: center center;
        }
}





@media (max-width:  600px) {
    .calendario__grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

        grid-template-areas: 
            "ultimoatleta ultimoatleta "
            "ultimoatleta ultimoatleta "
            " chic malinche"
            "caballo peguis"
            "matacanes silencio";
    }
}

@media (max-width:  350px) {
    .calendario__grid {
        grid-template-columns: 1fr;
        

        grid-template-areas: 
            "ultimoatleta"
            "ultimoatleta"
            "chic"
            "malinche"
            "caballo"
            "peguis"
            "matacanes"
            "silencio";
    }
}

.formulario__contacto {
    text-align: center;
}   
