@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;   
    font-family: 'Antonio', sans-serif;
}

img {
    width: 100%;
}
.portada {
    height: 30rem;
}


h1{
    color: #8C4117;
    text-align: center;
}

h2 {
    color: rgb(50, 173, 222)
}
.presentacion {
    position: relative;
    text-align: center;
 
}

.presentacion__somos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: start;
}

/* img {
    max-width: 100%;
}
.imagen__somos {
    width: 30%;
}
*/


.video {
    height: 13rem;
    margin-top: 10px;
}

.multimedia {
    text-align: center;
}
.lineaPie {
    margin-top: 10px;
    size: 50px;
    border-width: 3px;
    border-color: black;
   
}
.pie {
    text-align: center;
    width: 100;
 
}




.iconos {
    height: 30px;
}
.logo {
    height: 7rem;
}

.pie li{
    display: inline-block;  
    padding: 10px;

}
.aventura {
    background-color: #3da2ca;
    padding: .5rem;
    margin: 5px;
    border-radius: 0.25rem;
    border: 1px solid #3da2ca;
}

.aventura {
   display: inline-block;

}
.imagenAventura {
    height: 40px;
    padding-inline: 2rem;
}

.pin {
    height: 2rem;
}



.uno {
    position: absolute;
    top: 0;
    right: 55%;
}

.dos{
    position: absolute;
    top: 10%;
    right: 40%;
}

.tres {
    position: absolute;
    top: 18%;
    right: 55%;
}


.galeria p {
    color: #8C4117;
}







.formulario {
    text-align: center;
}




.aventuras__galeria {
    margin: 2rem;
    border: .3rem solid;
    border-color: blue;
    border-radius: 30px;

    display: flex;
    gap: 1rem;
    align-items: center;

    overflow: hidden;
}

.aventuras__galeria > * {
    flex: 1;
}